*{
    margin: 0;
    padding: 0;
}

header{
    background-color: aqua;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    

}

header ul li{
    padding: 20px;
}

header ul li a{
    text-decoration: none;
}

.cat{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cat img{
    width: 400px;
    height: 600px;
    
}
 .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .tittle{
    display: flex;
    justify-content: center;
    padding: 20px;
 }

 .stickers{
    background-color:white;
    display: flex;
    justify-content: space-between;
 }

 .stickers img{
    width: 400px;
    height: 400px;
 }

 .contentImg input{
    margin: 0 0 0 120px ;
 }
 .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-items: center;
 }
 .button button{
    width: 80px; 
    margin: 10px;
 }
 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    border: solid black 2px;
    width: 700px;
    height: 200px;
    margin: 10px 0 0 350px;
    
 }
 .container-flex{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
 }
 .divSelect{
    display: flex;
    
 }
 .select{
    margin: 2px;
 }

 .container-flex button{
   width: 160px;
   margin: 5px;
 }